page-auth {



/*=========ENTETE=======*/
#zlogo_entete{
    position: relative;
    background-color:#104263;
    padding: 10px 10px 10px 10px;
    height: 49%;
    width: 100%;
}

#zlogo_entete_fils1{
   position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
     display: block;
}

#zlogo_pied{
    position: relative;
    background-color:#104263;
    padding: 10px 10px 10px 10px;
    height: 90%;
}

#logo{

    max-width: 100%;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}








    /*
#Corp1 {
    height: 250px;
    background-color: aquamarine;
    padding: 10px;
}
#zLangue{

}
#btnConnexion{
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: 32%;
    float: left;
}
#btnMdp_oublier{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: 10px;
    float: left;
}
*/
}
